apiVersion: v1
kind: Secret
metadata:
  name: mlflow-postgres-secret
  namespace: mlflow
type: Opaque
stringData:
  postgres-password: "<POSTGRES_ROOT_PASSWORD>"  # postgres superuser password
  password: "<MLFLOW_DB_PASSWORD>"               # mlflow user password
